<h1 class="my-3">Produtos</h1>

<div>
  <%= link_to 'Cadastrar Modelo de Produto', new_product_model_path, class: "btn btn-outline-dark " %>
</div>

<% if @product_models.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">SKU</th>
        <th scope="col">Fornecedor</th>
      </tr>
    </thead>
    <tbody>
      <% @product_models.each do |pm| %>
        <tr>
          <td><%= link_to pm.name, pm %></td>
          <td><%= pm.sku %></td>
          <td><%= link_to pm.supplier.brand_name, supplier_path(pm.supplier) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-secondary text-center" role="alert">
    Não existem produtos cadastrados.
  </div>
<% end %>



