<h1 class="my-3">Fornecedores</h1>

<div>
  <%= link_to 'Cadastrar Fornecedor', new_supplier_path, class: "btn btn-outline-dark " %>
</div>

<% if @suppliers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |s| %>
        <tr>
          <td><%= link_to s.brand_name, s %></td>
          <td><%= s.city %> - <%= s.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não existem fornecedores cadastrados.</p>
<% end %>
