<h1 class="my-3">Novo <%= Warehouse.model_name.human %></h1>


<% if(@warehouse.errors.any?) %>
  <div class="alert alert-danger" role="alert">
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @warehouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render 'form' %>